<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="SQLConexion" value="Data Source=rsdp01\sqlexpress;Initial Catalog=Valorizador;User Id=sa;Password=123456;" />
    <add key="SQLConexionIN" value="Data Source=rsdp01\sqlexpress;Initial Catalog=BDIntermedia;User Id=sa;Password=123456;" />-->

    <!--<add key="SQLConexion" value="Data Source=190.223.139.228\SQL2K8R2;Initial Catalog=Valorizador;User Id=usrsession;Password=session;" />
    <add key="SQLConexionIN" value="Data Source=190.223.139.228\SQL2K8R2;Initial Catalog=BDIntermedia;User Id=usrsession;Password=session;" />
    <add key="Urlreportes" value="http://190.223.139.228/ReportServer_Valorizador/Pages/" />-->

    <!--<add key="SQLConexion" value="Data Source=190.223.139.228\SQL2K8R2;Initial Catalog=Valorizador;User Id=usrsession;Password=session;" />
    <add key="SQLConexionIN" value="Data Source=190.223.139.228\SQL2K8R2;Initial Catalog=BDIntermedia;User Id=usrsession;Password=session;" />
    <add key="Urlreportes" value="http://190.223.139.228/ReportServer_SQL2K8R2/Pages/" />
	 <add key="Urlreportes" value="http://desarrollo/ReportServer/Pages" />
	-->

	  
	  
	  
	 
	

    <!--PRUEBA DE PRODUCCION-->
    <!--	  		  
	<add key="SQLConexion"	value="Data Source=MINCORP001;Initial Catalog=Valorizador;User Id=usrsession;Password=session;" />
    <add key="SQLConexionIN" value="Data Source=MINCORP001;Initial Catalog=BDIntermedia;User Id=usrsession;Password=session;" />
	<add key="SQLConexionEN" value="Data Source=MINCORP001;Initial Catalog=EnproyecDB;User Id=usrsession;Password=session; " />

	  <add key="SQLConexion"   value="Data Source=MINCORP001;Initial Catalog=Valorizador;User Id=ctrqmmqy‚{‹;Password=ctvMWY[4CH;Connect Timeout=300;" />
	  <add key="SQLConexionIN" value="Data Source=MINCORP001;Initial Catalog=BDIntermedia;User Id=ctrqmmqy‚{‹;Password=ctvMWY[4CH;Connect Timeout=300;" />
	  <add key="SQLConexionEN" value="Data Source=MINCORP001;Initial Catalog=EnproyecDB;User Id=ctrqmmqy‚{‹;Password=ctvMWY[4CH;Connect Timeout=300;" />
	  
	  <add key="Urlreportes" value="http://MINCORP001/ReportServer/" />
	  <add key="user" value="valorizador" />
	  <add key="password" value="Password$" />
	  <add key="domain" value="enproyec" />
 -->

	  
	  <!---->
	  
	  
	  <!--PRUEBA DE LOCAL-->
    <!--  
    
    <add key="SQLConexion"   value="Data Source=(local);Initial Catalog=Valorizador;User Id=ctrqmmqy‚{‹;Password=fiy::=B36;Connect Timeout=300;" />
    <add key="SQLConexionIN" value="Data Source=(local);Initial Catalog=BDIntermedia;User Id=ctrqmmqy‚{‹;Password=fiy::=B36;Connect Timeout=300;" />
    <add key="SQLConexionEN" value="Data Source=(local);Initial Catalog=EnproyecDB;User Id=ctrqmmqy‚{‹;Password=fiy::=B36;Connect Timeout=300;" />
-->
    <!-- DESARROLLO -->          	    
	  <!--
    <add key="SQLConexion"   value="Data Source=ENPROYEC002;Initial Catalog=Valorizador;User Id=ctrqmmqy‚{‹;Password=ctvMWY[4CH;Connect Timeout=300;" />
    <add key="SQLConexionIN" value="Data Source=ENPROYEC002;Initial Catalog=BDIntermedia;User Id=ctrqmmqy‚{‹;Password=ctvMWY[4CH;Connect Timeout=300;" />
    <add key="SQLConexionEN" value="Data Source=ENPROYEC002;Initial Catalog=EnproyecDB;User Id=ctrqmmqy‚{‹;Password=ctvMWY[4CH;Connect Timeout=300;" />
-->

    <!-- PRUEBAS -->
    <!-- -->
    <add key="SQLConexion"   value="Data Source=(local);Initial Catalog=Valorizador;User Id=ctrqmmqy‚{‹;Password=fiy::=B36;Connect Timeout=300;" />
    <add key="SQLConexionIN" value="Data Source=(local);Initial Catalog=BDIntermedia;User Id=ctrqmmqy‚{‹;Password=fiy::=B36;Connect Timeout=300;" />
    <add key="SQLConexionEN" value="Data Source=(local);Initial Catalog=EnproyecDB;User Id=ctrqmmqy‚{‹;Password=fiy::=B36;Connect Timeout=300;" />


    <!-- PRODUCCION -->
    <!--  
    <add key="SQLConexion"   value="Data Source=MINCORP001;Initial Catalog=Valorizador;User Id=ctrqmmqy‚{‹;Password=ctvMWY[4CH;Connect Timeout=300000;" />
    <add key="SQLConexionIN" value="Data Source=MINCORP001;Initial Catalog=BDIntermedia;User Id=ctrqmmqy‚{‹;Password=ctvMWY[4CH;Connect Timeout=300000;" />
    <add key="SQLConexionEN" value="Data Source=MINCORP001;Initial Catalog=EnproyecDB;User Id=ctrqmmqy‚{‹;Password=ctvMWY[4CH;Connect Timeout=300000;" />
  -->



    <!--@01 D03-->
    <!--<add key="Urlreportes" value="http://localhost/ReportServer/" />
    <add key="user" value="lmiyahira" />
	  <add key="password" value="limi2012$$" />-->
    <!--@01 A03-->    
    <add key="Urlreportes" value="http://MINCORP001/ReportServer/" />
    <add key="user" value="valorizador" />
    <add key="password" value="Password$" />
    
    <add key="domain" value="enproyec" />

<!-- 
 <add key="Urlreportes" value="http://localhost/ReportServer/" />
	  <add key="user" value="administrador" />
	  <add key="password" value="enp20pr11$" />
	  <add key="domain" value="sistem-nb006" />     
-->
	  
	  <!-- ENPROYEC 002 -->
	  <!-- 
	  <add key="SQLConexion"   value="Data Source=ENPROYEC002;Initial Catalog=Valorizador;User Id=ctrqmmqy‚{‹;Password=fiy::=B36;Connect Timeout=300;" />
	  <add key="SQLConexionIN" value="Data Source=ENPROYEC002;Initial Catalog=BDIntermedia;User Id=ctrqmmqy‚{‹;Password=fiy::=B36;Connect Timeout=300;" />
	  <add key="SQLConexionEN" value="Data Source=ENPROYEC002;Initial Catalog=EnproyecDB;User Id=ctrqmmqy‚{‹;Password=fiy::=B36;Connect Timeout=300;" />
		
	  <add key="Urlreportes" value="http://ENPROYEC002/ReportServer/" />
	  <add key="user" value="valorizador" />
	  <add key="password" value="Password$" />
	  <add key="domain" value="ENPROYEC" />
		-->

	  
	  <!--
	  <add key="Urlreportes" value="http://localhost/ReportServer/" />
	  <add key="user" value="administrador" />
	  <add key="password" value="enp20pr11$" />
	  <add key="domain" value="sistemas100nb" />
		-->
	  
	  
	  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ColorRed" value="255" />
    <add key="ColorGreen" value="192" />
    <add key="ColorBlue" value="128" />
    <add key="Color.Hex" value="" />
    <add key="Color.Original" value="255,192,128" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
	  
	  
	  
	  
  </system.web>
	
	
	
	
</configuration>